<!DOCTYPE html>

<head>
    <script src="javascripts/jquery-1.8.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/threejs/three.min.js"></script>

    <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
    <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
    <script src="javascripts/threejs/js/Detector.js"></script>
    <script src="javascripts/threejs/js/libs/stats.min.js"></script>
    <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

    <script src="javascripts/index.js"></script>

    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/hamburger.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
    <!-- <script src="https://wzrd.in/standalone/formdata-polyfill"></script>
  <script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script> -->
</head>

<body>
    <div class="container">
        <div class="top">
            <!-- <div class="menu-button" onclick=""> 
        <div class="bar1" style="--delay: 0.00s"></div>
        <div class="bar2" style="--delay: 0.10s"></div>
        <div class="bar3" style="--delay: 0.20s"></div>
      </div>  -->
            <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
            <div id="popUpNav" class="overlay" onclick="closeNav()">
                <div class="overlay-content">
                    <a href="/" target="_self" data-scroll onclick="closeNav()">Home</a>
                    <hr class="small">
                    <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
                    <hr class="small">
                    <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
                    <hr class="small">
                    <a href="/resources-page" target="_self" data-scroll onclick="closeNav()">Resources</a>
                </div>
            </div>
            <h2 class="header-text"> Onshape- </h2>

        </div>

        <!-- <div class="header-activities">
          <div class="center">Try out some CAD problems!
          </div>
        </div> -->

        <div class="header-activities">
            <div class="top-center">
                <h3 class="title-white">Try out some CAD challenges!</h3>
                <p class="header-description">Challenges range from easiest to hardest: look through our gallery and choose a challenge!</p>
            </div>
        </div>

        <!-- <script>
            $(window).scroll(function() {
                $(".header").css("opacity", 1 - $(window).scrollTop() / 500);
            });
        </script> -->

        <div class="mid">
            <!-- Filter buttons -->
            <div id="btn-filters">
                <button class="btn active" onclick="filterSelection('all')">Show all</button>
                <button class="btn" onclick="filterSelection('easy')">Easy</button>
                <button class="btn" onclick="filterSelection('intermediate')">Intermediate</button>
                <button class="btn" onclick="filterSelection('hard')">Hard</button>
            </div>

            <div class="gallery-row">
                <div class="column easy">
                    <div class="gallery-content">
                        <img src="images/cube-hole-final.png" alt="final-cube">
                        <p class="page-title">Cube with hole</p>
                        <a href="/cube-hole-placemat" target="_self">Get Started</a>
                    </div>
                </div>
                <div class="column easy">
                    <div class="gallery-content">
                        <img src="images/cup-final.png" alt="cup-final">
                        <p class="page-title">Cup</p>
                        <p class="normal">Try this challenge!</p>
                    </div>
                </div>

                <div class="column intermediate">
                    <div class="gallery-content">
                        <img src="images/dog-collar-final.png" alt="collar-final">
                        <p class="page-title">Dog collar</p>
                        <p class="normal">Try this challenge!</p>
                    </div>
                </div>
                <div class="column intermediate">
                    <div class="gallery-content">
                        <img src="images/paperclip-final.png" alt="paperclip-final">
                        <p class="page-title">Paperclip</p>
                        <p class="normal">Try this challenge!</p>
                    </div>
                </div>

                <div class="column hard">
                    <div class="gallery-content">
                        <img src="images/volcano-final.png" alt="volcano-final">
                        <p class="page-title">Volcano</p>
                        <a href="/volcano-placemat" target="_self">Get Started</a>
                    </div>
                </div>
                <div class="column hard">
                    <div class="gallery-content">
                        <img src="images/hinge-final.png" alt="hinge-final">
                        <p class="page-title">Hinge</p>
                        <p class="normal">Try this challenge!</p>
                    </div>
                </div>
            </div>

            <!-- <div class="contents-button2">
                <div class="wrapper-small2">
                  <div class="image-sneakpeek">
                    <img src="images/cube-hole-final.png" alt="final-cube">
                  </div>
                  <div class="text-sneakpeek">
                    <h3 class="title-white">Try making a cube with a hole!</h3><br/>
                    <br/>
                    <a href="/cube-hole-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
                  </div>
                </div>
            </div> -->

            <!-- <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a cup or a mug!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/cup-final.png" alt="cup-final">
          </div>
          <a href="/cup-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
        </div>
      </div>

      <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a valentine!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/valentine-final.png" alt="valentine-final">
          </div>
          <a href="/valentine-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
        </div>
      </div>

      <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a dog collar!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/dog-collar-final.png" alt="collar-final">
          </div>
          <a href="/dog-collar-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
        </div>
      </div> -->

            <!-- <div class="contents-button">
              <div class="wrapper-small2">
                <div class="image-sneakpeek2">
                  <img src="images/volcano-final.png" alt="volcano-final">
                </div>
                <div class="text-sneakpeek">
                  <h3 class="title-white">Try making a volcano!</h3><br/>
                  <br/>
                  <a href="/volcano-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
                </div>
              </div>
          </div> -->

            <!-- <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a paperclip!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/paperclip-final.png" alt="paperclip-final">
          </div>
          <a href="/paperclip-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
        </div>
      </div>

      <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a spring!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/spring-final.png" alt="spring-final">
          </div>
          <a href="/spring-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Spring Placemat</button></a>
        </div>
      </div>

      <div class="contents-button">
        <div class="wrapper-small">
          <h3 class="title-white">Try making a hinge!</h3><br/>
          <div class="image-sneakpeek">
            <img src="images/hinge-final.png" alt="hinge-final">
          </div>
          <a href="/hinge" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-home">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a>
        </div>
      </div> -->

        </div>
        <div class="footer">
        </div>
    </div>
    <script>
        filterSelection("all")

        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }

        function openNav() {
            hamburger.classList.add("is-active");
            document.getElementById("popUpNav").style.display = "block";
        }

        function closeNav() {
            hamburger.classList.remove("is-active");
            document.getElementById("popUpNav").style.display = "none";
        }

        // Hamburger Menu Spin
        var hamburger = document.querySelector(".hamburger");
        // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
        hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());

        closeNav();
    </script>
</body>

</html>