<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/index.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <!-- heading container for menu button and app name -->
    <div class="top">
      <!-- menu button -->
      <button class="hamburger hamburger--spin" type="button">
        <!-- transition for menu button -->
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <!-- these are the pages in the menu bar -->
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/" target="_self" data-scroll onclick="closeNav()">Home</a>
          <hr class="small">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/resources-page" target="_self" data-scroll onclick="closeNav()">Resources</a>
        </div>
      </div>
      <!-- this is the overall title of the app -->
      <h2 class="header-text"> Onshape- </h2> 
    </div>
    
    <div class="mid">
      <div class="contents-center">
        <h4 id="stroke">Try out some CAD challenges!</h4><br/>
        <p class="header-description">Challenges range from easiest to hardest: look through our gallery and choose a challenge!</p><br/>
      </div>

      <!-- contains tabs for gallery view and the activities  -->
      <div class="gallery-container">
        <!-- creating the tabs for each of the levels -->
        <div id="btn-filters">
          <button class="btn active" onclick="filterSelection('all')">Show all</button>
          <button class="btn" onclick="filterSelection('easy')">Easy</button>
          <button class="btn" onclick="filterSelection('intermediate')">Intermediate</button>
          <button class="btn" onclick="filterSelection('hard')">Hard</button>
        </div>

        <!-- container for all of the activities -->
        <div class="gallery-row">
          <!-- cube with a hole activity / category: easy -->
          <div class="column easy">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/cube-hole-final.png" alt="cube-hole-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Cube with hole</p>
                <a href="/cube-hole-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
          <!-- cup activity / category: easy -->
          <div class="column easy">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/cup-final.png" alt="cup-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Cup</p>
                <a href="/cup-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
          <!-- dog collar activity / category: intermediate -->
          <div class="column intermediate">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/dog-collar-final.png" alt="collar-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Dog collar</p>
                <a href="/dog-collar-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
          <!-- paperclip activity / category: intermediate -->
          <div class="column intermediate">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/paperclip-final.png" alt="paperclip-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Paperclip</p>
                <a href="/paperclip-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
          <!-- volcano activity / category: hard -->
          <div class="column hard">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/volcano-final.png" alt="volcano-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Volcano</p>
                <a href="/volcano-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
          <!-- hinge activity / category: hard -->
          <div class="column hard">
            <div class="gallery-content">
              <div class="gallery-image">
                <img src="images/hinge-final.png" alt="hinge-final" class="gallery-display">
              </div>
              <div class="text-overview">
                <p class="page-title2">Hinge</p>
                <a href="/hinge-placemat" class="hvr-icon-wobble-horizontal" target="_self"><button type="button" class="btn-activity">Get Started <i class="fa fa-angle-double-right hvr-icon"></i></button></a><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        // Portfolio gallery 
        // Filter through all of the activities listed in the code above
        filterSelection("all")
        // function that filters through all of the div classes with "column " --> this filters through the levels of difficulty 
        function filterSelection(c) {
            var x, i;
            // gets everything classified under the name "column" and stores it in variable "x"
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            // for loop runs for the length of however many classes with the name "column" there are
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // function takes in two inputs and shows the filtered elements 
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            // for loop runs for the length of the name input array after it was split 
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // function splits up and hides the elements that are not needed 
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class for the buttons to highlight it and be able to click on it
        var btnContainer = document.getElementById("btn-filters");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
      </script>
    </div>
  <div class="footer">
  </div>
  </div>
  <script>
    // open navigation menu bar
    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    // close navigation menu bar
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();

    // resizing and adjusting size (height and width) of contents on page 
    var $wrapper = $(".mid");
    var $el = $(".contents");
    var elHeight = $el.outerHeight();
    var elWidth = $el.outerWidth();
    var starterData = { 
      size: {
        width: $wrapper.width(),
        height: $wrapper.height()
      }
    }
    function doResize(event, ui) {
      
      var scale, origin;
        
      scale = Math.min(
        ui.size.width / elWidth,    
        ui.size.height / elHeight
      );
      
      $el.css({
        transform: "translate(-50%, -50%) " + "scale(" + scale + ")"
      });
      
    }
    $wrapper.resizable({
      resize: doResize
    });
    doResize(null, starterData);
    $('.mid').css('min-height', screen.height);
    $('.mid').css('min-width', screen.width);
  </script> 
</body>