<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/cube-hole-placemat.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
  <!-- <script src="https://wzrd.in/standalone/formdata-polyfill"></script>
  <script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script> -->
</head>
<body>
  <div class="container">
    <div class="top">
      <!-- <div class="menu-button" onclick=""> 
        <div class="bar1" style="--delay: 0.00s"></div>
        <div class="bar2" style="--delay: 0.10s"></div>
        <div class="bar3" style="--delay: 0.20s"></div>
      </div>  -->
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>  
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/help-page" target="_self" data-scroll onclick="closeNav()">Help</a>
        </div>
      </div>
      <h2 class="header-text"> Onshape- </h2> 
    </div>

    <div class="mid">
      <div class="contents-top">
        <!-- <div>
          <h4>- Cube with a hole -</h4>
        </div> -->
        <div class="text-description-center">
          <h3>Challenge Statement</h3>
          <p class="normal">Use Onshape to create a cube with a hole!</p>
        </div>
        <div class="contents">
          <h4>Example(s):</h4>
          <div class="image-sneakpeak2">
            <img src="images/cube-hole-view.gif" alt="cube-view-gif">
          </div>
        </div>
        <!-- <div class="text-description-large">
          <p class="normal">Here are some example(s):</p><br/>
          <div class="image-sneakpeak2">
            <img src="images/cube-hole-view.gif" alt="cube-view-gif">
          </div>
        </div>  -->
      </div>

      <hr class="divider">

      <div class="contents-top">
        <div class="text-description-center">
          <h3> You try! </h3>
          <p class="normal">Some useful tools for this project can include SKETCH, EXTRUDE ADD/REMOVE, LINE, SWEEP, and any other tools that you think might do the trick!</p>
        </div>
      </div>

      <div class="contents">
        <div class="image-container">
          <h4>Initial Tool bar</h4>
        </div>
        <div class="image-container">
          <img src="images/cube-tools.png" alt="cube-tools1">
        </div>
      </div>
      <div class="contents">
        <div class="image-container">
          <h4>Sketch Tool bar</h4>
        </div>
        <div class="image-container">
          <img src="images/cube-tools2.png" alt="cube-tools2">
        </div>
      </div>

      <hr class="divider">

      <div class="contents-top">
        <div class="text-description-panel">
          <button class="accordion"><h3>Click here for some hints:</h3></button>
          <div class="panel">
            <p class="normal">Perhaps start off by creating the cube. Then proceed to create a circular hole through one of the sides of the cube.</p>
          </div>
        </div>
      </div>

      <!-- <button class="accordion"><h3>Click here for some hints:</h3></button>
      <div class="panel">
        <p class="normal">Perhaps start off by creating the cube. Then proceed to create a circular hole through the cube.</p>
      </div> -->

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
      </script>

      <hr class="divider">

      <div class="contents-button">
          <div class="wrapper-small">
              <h3 class="title-white">See how we did it!</h3><br/>
              <a href="/cube-hole" class="hvr-grow" target="_self"><button type="button" class="btn-home">Our approach</button></a>
          </div>
      </div>

      <hr class="divider">

      <iframe name="dummy" id="dummy" style="display: none;"></iframe>
      <div id="feedback-form">
        <div class="form-container">
          <h3 class="title-white">Feedback Form</h3>
          <p class="normal">Please fill out this quick feedback form and let us know what you think of our app!</p>
          <form id="feedback" target="dummy" name="google-sheets">
            <hr>
            <div class="text-input">
              <label for="liked">What did you like?</label>
              <input type="text" placeholder="I liked the way..." id="liked" name="liked">
            </div> 
            
            <div class="text-input">
              <label for="disliked">What didn't you like?</label>
              <input type="text" placeholder="I didn't like how..." id="disliked" name="disliked">
            </div>
            
            <div class="text-input">
              <label for="comments">What did you wish/didn't wish to see?</label>
              <input type="text" placeholder="I wish I saw..." id="comments" name="comments">
            </div> 

            <div class="text-input">
              <label for="additional">Any additional comments?</label>
              <input type="text" placeholder="Awesome app!" id="additional" name="additional">
            </div>
            <hr>

            <!-- <div class="rate">
              <label for="rate-app">Rate our app!</label><br>
              <div class="rating">
                <input id="star5" type="radio" value="5" class="radio-btn hide" name="entry.1456528451">
                <label for="star5">☆</label>
                <input id="star4" type="radio" value="4" class="radio-btn hide" name="entry.1456528451">
                <label for="star4">☆</label>
                <input id="star3" type="radio" value="3" class="radio-btn hide" name="entry.1456528451">
                <label for="star3">☆</label>
                <input id="star2" type="radio" value="2" class="radio-btn hide" name="entry.1456528451">
                <label for="star2">☆</label>
                <input id="star1" type="radio" value="1" class="radio-btn hide" name="entry.1456528451">
                <label for="star1">☆</label>
              </div>
            </div> -->

            <input type="submit" class="submitbtn" value="Submit">
          </form>
        </div>
      </div>

      <div id="form-closed">
        <h3 class="title-white"> Thanks for your feedback! </h3>
      </div>

    </div>
    <div class="footer">
    </div>
  </div>
  <script>
    $('#feedback').submit(function () {
      formPost();
      return false;
    });
    function formPost() { 
      let url = "https://script.google.com/macros/s/AKfycbybS5ThQWE78wfbrH8BOBr7CHGfaDwbGBfPtJrLtpevaccPXsE/exec";
      let method = "POST";
      let headers = {"Content-Type": "multipart/form-data"}
      let elements = document.getElementById("feedback").elements;
      // const form = document.forms['google-sheets'];
      let body = {};
      const formData = new FormData();
      for (var i = 0, element; element = elements[i++];) {
          if (element.type === "text"){
            let name = element.name;
            body[name] = element.value;
            formData.append(name, element.value);
          }
      }
      console.log(body);
      console.log(formData);

      // fetch(url, { method: method, body: JSON.stringify(body)}).then(res => console.log(res));
      fetch(url, {method: method, body: formData}).then(res => console.log(res));

      formSubmitClose();
    }

    function formSubmitClose() { 
      var form = document.getElementById("feedback-form");
      document.getElementById("feedback-form").style.animation = "fadeOut .2s forwards";
      document.getElementById("feedback-form").style.display = "none";
      document.getElementById("form-closed").style.display = "flex";
    }

    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>