<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/cup.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
  <!-- <script src="https://wzrd.in/standalone/formdata-polyfill"></script>
  <script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script> -->
</head>
<body>
  <div class="container">
    <div class="top">
      <!-- <div class="menu-button" onclick=""> 
        <div class="bar1" style="--delay: 0.00s"></div>
        <div class="bar2" style="--delay: 0.10s"></div>
        <div class="bar3" style="--delay: 0.20s"></div>
      </div>  -->
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>  
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/help-page" target="_self" data-scroll onclick="closeNav()">Help</a>
        </div>
      </div>
      <h2 class="header-text"> Our Approach </h2> 
      <!-- <nav>
        <ul>
          <li><a href="https://test-onshape-app.herokuapp.com/home-page.html">Home</a></li>
          <li><a href="https://test-onshape-app.herokuapp.com/">Cube Demo</a></li>
        </ul>
      </nav> -->

      <!-- if we want to have links to other pages -->

    </div>
    
    <div class="mid">
      <div class="contents-top">
        <div class="text-description">
          <h3> Challenge </h3>
          <p class="normal">Use Onshape to construct a cup or a mug!</p>
        </div> 

        <img src="images/cup-final.gif" alt="cup-gif">

        <!-- <div class="video-container">

        </div> -->
      </div>

      <div class="contents-top">
        <div class="text-description-center">
          <h3> We tried! </h3>
          <p class="normal">We used LINE, REVOLVE, ADD PLANE, SWEEP, and APPEARANCE PANEL.</p>
        </div>
      </div>

      <div class="contents">
        <video controls>
          <source src="videos/cup-sketch.mp4" type="video/mp4">
        </video>
          <!-- <div class="video-container">
          </div> -->
        <div class="text-description">
            <h3>Step 1: Sketch the cross-sectional area for half of the cup</h3>
            <p class="normal">Start out with a new Part Studio Sketch, and pick a plane to sketch on.</p>
            <p class="normal">Use the Line tool, located on the left in the tool bar, to roughly draw the cross-section of half of your cup. Make sure to connect all of the lines to each other.</p>
            <p class="normal"><strong>** Note: When we revolve this sketch, we want to revolve it around the center axis, so make sure that you have a vertical line (part of the sketch) that runs through the center point. Therefore, when we use the Revolve function, we can revolve around this vertical line.</strong></p>
        </div>
      </div>

      <div class="contents">
        <div class="text-description">
          <h3>Optional step: Dimension your cup</h3>
            <p class="normal">Make your cup more exact by using the Dimension tool.</p>
            <p class="normal">You can dimension your cup however you want - it depends on how thick you want your cup. In our case, we set it to 0.4 inches.</p>
        </div>

        <video controls>
          <source src="videos/cup-dimension.mp4" type="video/mp4">
        </video>

        <!-- <div class="video-container">
        </div> -->
      </div>

      <div class="contents">
        <!-- <div class="video-container">
        </div> -->
        <video controls>
          <source src="videos/cup-revolve.mp4" type="video/mp4">
        </video>
        <div class="text-description">
          <h3>Step 2: Revolve sketch</h3>
          <p class="normal">To actually create the cup, we can use the Revolve function, located on the left in the tool bar.</p>
          <p class="normal">Select your cross-sectional area sketch as the sketch region to revolve, and then click on the vertical axis that passes through the center point, which you drew, as the revolve axis.</p>
          <p class="normal">** Remember that we intentionally drew a vertical line to act as the vertical axis. You can start to make sense of why we drew that - it also acts as the bottom of the cup.</p>
          <p class="normal">Then click the green check button to finish the Revolve.</p>
        </div>
      </div>

      <div class="contents">
        <div class="text-description">
          <h3>Step 3: Create the handle by sketching a circle</h3>
          <p class="normal">To make a handle, we will use a new Part Studio, which you can add by clicking on the "+" button on the bottom left of your screen.</p>
          <p class="normal">We will sketch a circle on the plane that we just created. This circle is essentially the cross-sectional area of the handle.</p>
          <p class="normal">You may dimension this circle if you want with the Dimension tool, but it is not necessary.</p>
        </div>
        <video controls>
          <source src="videos/cup-handle-circle.webm" type="video/webm">
        </video>
        <!-- <div class="video-container">
            <video controls>
                <source src="videos/hinge-4.mp4" type="video/mp4">
            </video>
        </div> -->
      </div>

      <div class="contents">
        <!-- <div class="video-container">
            <video controls>
                <source src="videos/hinge-5.mp4" type="video/mp4">
            </video>
        </div> -->
        <video controls>
          <source src="videos/cup-handle-arc.webm" type="video/webm">
        </video>
        <div class="text-description">
          <h3>Step 4: Sketch the path of the handle</h3>
          <p class="normal">We want to sketch the path in which the handle will go. To do this, we can use the 3 point arc tool, located on the left in the tool bar.</p>
          <p class="normal"><strong>** Note: We do this because we will be using the Sweep tool, which requires an initial sketch and the path which it will follow through.</strong></p>
          <p class="normal">After selecting the 3 point arc tool, click once on the center of the circle that we just made, once near the bottom of the cup where the handle will end, and then once in between the first two points but outside of the revolved cup to give the handle a curve.</p>
        </div>
      </div>

      <div class="contents">
        <div class="text-description">
          <h3>Step 5: Sweep to create the handle</h3>
          <p class="normal">We will use the Sweep function, which is located on the left in the tool bar.</p>
          <p class="normal">Select the circle as the sketch curve to sweep. Then select the 3 point arc that you just sketched as the sweep path.</p>
          <p class="normal">Click the green check to finish the sweep.</p>
        </div>
        <video controls>
          <source src="videos/cup-handle-sweep.webm" type="video/webm">
        </video>
        <!-- <div class="video-container">
            <video controls>
                <source src="videos/hinge-6.mp4" type="video/mp4">
            </video>
        </div> -->
      </div>

      <div class="contents">
        <!-- <div class="video-container">
            <video controls>
                <source src="videos/hinge-7.mp4" type="video/mp4">
            </video>
        </div> -->
        <video controls>
          <source src="videos/hinge-7.mp4" type="video/mp4">
        </video>
        <div class="text-description">
          <h3>Step 6: Give your handle some color</h3>
          <p class="normal">We will use the Sweep function, which is located on the left in the tool bar.</p>
          <p class="normal">Select the circle as the sketch curve to sweep. Then select the 3 point arc that you just sketched as the sweep path.</p>
          <p class="normal">Click the green check to finish the sweep.</p>
          <div class="image-container">
            <source src="videos/cup-handle-sweep.mp4" type="video/mp4">
          </div>
        </div>
      </div>

      <div class="contents">
        <div class="text-description">
          <h3>Optional step: Give your cup some color!</h3>
          <p class="normal">Your cup is all done, but you might think that it looks a little boring. We will use the Appearance Panel to change the colors.</p>
          <p class="normal"><strong>** Note: The cup itself and the handle are two separate parts because the cup is a part while the handle is just a surface that was modified with Sweep. So, in the Appearance Panel, there will be two options to change colors.</strong></p>
          <p class="normal">There are different ways you can change the color, such as the Palette or the Mixer.</p>
        </div>
        <video controls>
          <source src="videos/cup-color.webm" type="video/webm">
        </video>
        <!-- <div class="video-container">
            <video controls>
                <source src="videos/hinge-8.mp4" type="video/mp4">
            </video>
        </div> -->
      </div>

      <div class="contents-button">
        <div class="wrapper-small">
            <h3 class="title-white">Take me back to the placemat</h3><br/>
            <a href="/cup-placemat" class="hvr-grow" target="_self"><button type="button" class="btn-home">Go back</button></a>
        </div>
      </div>

      <iframe name="dummy" id="dummy" style="display: none;"></iframe>
      <div id="feedback-form">
        <div class="form-container">
          <h3 class="title-white">Feedback Form</h3>
          <p class="normal">Please fill out this quick feedback form and let us know what you think of our app!</p>
          <form id="feedback" target="dummy" name="google-sheets">
            <hr>
            <div class="text-input">
              <label for="liked">What did you like?</label>
              <input type="text" placeholder="I liked the way..." id="liked" name="liked">
            </div> 
            
            <div class="text-input">
              <label for="disliked">What didn't you like?</label>
              <input type="text" placeholder="I didn't like how..." id="disliked" name="disliked">
            </div>
            
            <div class="text-input">
              <label for="comments">What did you wish/didn't wish to see?</label>
              <input type="text" placeholder="I wish I saw..." id="comments" name="comments">
            </div> 

            <div class="text-input">
              <label for="additional">Any additional comments?</label>
              <input type="text" placeholder="Awesome app!" id="additional" name="additional">
            </div>
            <hr>

            <!-- <div class="rate">
              <label for="rate-app">Rate our app!</label><br>
              <div class="rating">
                <input id="star5" type="radio" value="5" class="radio-btn hide" name="entry.1456528451">
                <label for="star5">☆</label>
                <input id="star4" type="radio" value="4" class="radio-btn hide" name="entry.1456528451">
                <label for="star4">☆</label>
                <input id="star3" type="radio" value="3" class="radio-btn hide" name="entry.1456528451">
                <label for="star3">☆</label>
                <input id="star2" type="radio" value="2" class="radio-btn hide" name="entry.1456528451">
                <label for="star2">☆</label>
                <input id="star1" type="radio" value="1" class="radio-btn hide" name="entry.1456528451">
                <label for="star1">☆</label>
              </div>
            </div> -->

            <input type="submit" class="submitbtn" value="Submit">
          </form>
        </div>
      </div>

      <div id="form-closed">
        <h3 class="title-white"> Thanks for your feedback! </h3>
      </div>

    </div>
    <div class="footer">
    </div>
  </div>
  <script>
    $('#feedback').submit(function () {
      formPost();
      return false;
    });
    function formPost() { 
      let url = "https://script.google.com/macros/s/AKfycbybS5ThQWE78wfbrH8BOBr7CHGfaDwbGBfPtJrLtpevaccPXsE/exec";
      let method = "POST";
      let headers = {"Content-Type": "multipart/form-data"}
      let elements = document.getElementById("feedback").elements;
      // const form = document.forms['google-sheets'];
      let body = {};
      const formData = new FormData();
      for (var i = 0, element; element = elements[i++];) {
          if (element.type === "text"){
            let name = element.name;
            body[name] = element.value;
            formData.append(name, element.value);
          }
      }
      console.log(body);
      console.log(formData);

      // fetch(url, { method: method, body: JSON.stringify(body)}).then(res => console.log(res));
      fetch(url, {method: method, body: formData}).then(res => console.log(res));

      formSubmitClose();
    }

    function formSubmitClose() { 
      var form = document.getElementById("feedback-form");
      document.getElementById("feedback-form").style.animation = "fadeOut .2s forwards";
      document.getElementById("feedback-form").style.display = "none";
      document.getElementById("form-closed").style.display = "flex";
    }

    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>