<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/index.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <div class="top">
      <h2 class="header-text"> Cube with A Hole </h2> 
    </div>
    
    <div class="mid">
      <div class="contents">
        <div class="text-description-med">
          <h3> Goals: </h3>
          <p> This page will teach you how to sketch and extrude a cube with a hole in the middle. 
            You will be introduced to Sketches (on a plane and face) along with Add/Remove Extrude.
            You will also be shown how to rotate and orient your CAD model to see different perspectives and plane views.</p>
        </div> 

        <div class="image-right">
          <img class="med" src="https://test-onshape-app.herokuapp.com/images/final-cube-with-hole.png" alt="Final">
        </div>
      </div>

      <div class="contents">
        <div class="image-container">
          <div class="gif-left">
            <img src="https://test-onshape-app.herokuapp.com/images/sketch1-new.gif" alt="Square Sketch">
          </div>
        </div> 
        <div class="text-description-large">
          <h3> Sketch a 2" x 2" square </h3>
          <p>Start out with a new Part Studio Sketch, which you can add by clicking on the "+" button located at the bottom left corner of the screen.</p>
          <p>At the origin, draw a Center Point Rectangle by going to the tool bar on the top and then clicking on the icon with a rectangle.</p> 
          <p>Then click once on the origin, move your mouse outward, and click again to stop the sketch. 
            <strong>** Note: Every time you draw a new sketch, Onshape prompts you to define plane to draw the sketch on. 
            It's like picking which side of a sheet of paper you will be draw on. **</strong></p>
          <p>On the tool bar, we will use the Dimension tool to specify the lengths of the sides. 
            Click once on a side of the rectangle and move your mouse outward. Click again to adjust the length to 2in.</p>
          <p>Do the same for the other side of the rectangle to create a square.</p>
        </div>
      </div>

      <div class="contents">
        <div class="big-container">
          <h3 class="title">Add Extrude</h3>
          <img class="shadow" src="https://test-onshape-app.herokuapp.com/images/extrudeadd.gif" alt="Cube">
          <p>This is test text so far</p>
        </div>
      </div>

    </div>
    <div class="footer">

    </div>
  </div>
</body>
</html>