<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/paperclip.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <div class="top">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>  
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/" target="_self" data-scroll onclick="closeNav()">Home</a>
          <hr class="small">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/resources-page" target="_self" data-scroll onclick="closeNav()">Resources</a>
        </div>
      </div>
      <h2 class="header-text"> Onshape- </h2> 
    </div>
    <div class="mid"> 
      <div class="contents-center">
        <h4 id="stroke"> Paperclip Approaches </h4><br/>
      </div>

      <div class="tablink-format">
        <button class="tablink" onclick="openPage('Approach1', this, '#453053')" id="defaultOpen">Approach #1</button>
        <!-- <button class="tablink" onclick="openPage('Approach2', this, '#453053')">Approach #2</button>
        <button class="tablink" onclick="openPage('Approach3', this, '#453053')">Approach 3</button> -->
      </div>

      <div id="Approach1" class="tabcontent">
        <div class="mid">
          <div class="contents-top2">
            <div class="text-description">
              <h3>Overview of Steps</h3><br/>
              <p class="normal">1) <a href="#step1-paperclip" class="embed-link2">Use the Line Tool to Start Sketching the Paperclip</a></p>
              <p class="normal">2) <a href="#step2-paperclip" class="embed-link2">Use the 3 Point Arc Tool to Sketch the Curve of the Paperclip</a></p>
              <p class="normal">3) <a href="#step3-paperclip" class="embed-link2">Finish the Sketch of the Paperclip with the Line Tool and 3 Point Arc Tool</a></p>
              <p class="normal">4) <a href="#step4-paperclip" class="embed-link2">Use the Plane Tool to Create a New Plane at an End of the Paperclip</a></p>
              <p class="normal">5) <a href="#step5-paperclip" class="embed-link2">Use the Circle Tool to Create the Cross-Section of the Paperclip</a></p>
              <p class="normal">6) <a href="#step6-paperclip" class="embed-link2">Use the Sweep Tool to Make the Paperclip 3D</a></p>
              <p class="normal">*) <a href="#stepopt-paperclip" class="embed-link2">Use the Appearance Panel to Give your Paperclip some Color</a></p>
            </div>

            <script>
              // The function actually applying the offset
              function offsetAnchor() {
                if (location.hash.length !== 0) {
                  window.scrollTo(window.scrollX, window.scrollY - 70);
                }
              }

              // Captures click events of all a elements with href starting with #
              $(document).on('click', 'a[href^="#"]', function(event) {
                // Click events are captured before hashchanges. Timeout
                // causes offsetAnchor to be called after the page jump.
                window.setTimeout(function() {
                  offsetAnchor();
                }, 0);
              });

              // Set the offset when entering page with hash present in the url
              window.setTimeout(offsetAnchor, 0);
            </script>
            
            <div class="text-description">
              <h3>Approach #1</h3><br/>
              <div class="image-sneakpeek3">
                <img src="images/paperclip-view.gif" alt="paperclip-gif">
              </div>
            </div> 
          </div>
          
          <hr class="divider">

          <div class="contents-top">
            <div class="text-description-center">
              <h3> We tried! </h3>
              <p class="normal">We used ARC, LINE, PLANE, CIRCLE, and SWEEP.</p>
            </div>
          </div>

          <div class="contents" id="step1-paperclip">
            <video controls>
              <source src="videos/paperclip-sketch1.mov" type="video/mp4">
            </video>
            <div class="text-description">
                <h3>Step 1: Use the Line Tool to Start Sketching the Paperclip</h3>
                <p class="normal">Start off by creating a line anywhere on any plane. Here, we chose the Top plane and chose to sketch some distance away from the origin. However, to make our lives easier for a later step, we chose to start the line on the same horizontal axis (looking at it from the Top plane view).</p>
                <p class="normal">You can use the Dimension tool to make this line a specific length. This is one side of the paperclip, and we put 1.5 inches.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step2-paperclip">
            <div class="text-description">
              <h3>Step 2: Use the 3 Point Arc Tool to Sketch the Curve of the Paperclip</h3>
                <p class="normal">Within the same sketch, click out of the Line tool and select the 3 Point Arc tool. We chose to make the paperclip as wide as the space between the initial line sketch and the origin.</p>
                <p class="normal">With the 3 Point Arc tool, click once on the endpoint of the initial line sketch that lies on the same axis as the origin, then click again on the origin point. The last click determines the radius; make the radius the same all-around by clicking where the radius is "locked."</p>
            </div>

            <video controls>
              <source src="videos/paperclip-sketch2.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step3-paperclip">
            <video controls>
              <source src="videos/paperclip-sketch3.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 3: Finish the Sketch of the Paperclip with the Line Tool and 3 Point Arc Tool</h3>
              <p class="normal">Essentially repeat the first two steps to finish off the paperclip as best as you can.</p>
              <p class="normal">Remember what a paperclip looks like when you complete this step: it looks like an oval-shaped swirl.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step4-paperclip">
            <div class="text-description">
              <h3>Step 4: Use the Plane Tool to Create a New Plane at an End of the Paperclip</h3>
              <p class="normal">Click on the plane tool to create a new Front plane, or the plane that is perpendicular to your paperclip sketch. Use the Top view (or whichever view your paperclip is on) to make it easier to see.</p>
              <p class="normal">Remember the first step, which was to draw a line. Try to offset your plane to the other end of that line (essentially where the paperclip starts). Also remember that we dimensioned it in the first step. This is where dimensioning it makes it easier. Simply offset the plane to however long you made that line. In our case, we will offset it by 1.5 inches since that is how long we made the line in Step 1.</p>
            </div>
            <video controls>
              <source src="videos/paperclip-plane.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step5-paperclip">
            <video controls>
              <source src="videos/paperclip-circle.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 5: Use the Circle Tool to Create the Cross-Section of the Paperclip</h3>
              <p class="normal">On the new plane that you just made, use the circle tool to sketch a small circle at the end of the first line sketch that you drew.</p>
              <p class="normal">Remember to make the circle relatively small since this circle is essentially the thickness of the paperclip.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step6-paperclip">
            <div class="text-description">
              <h3>Step 6: Use the Sweep Tool to Make the Paperclip 3D</h3>
              <p class="normal">Click on the sweep tool, which will prompt you to choose a face and a sweep path. Select the circle as the face. Then select the lines and the arcs that you drew as the sweep path: click on each part of it and you will see the sweep function working.</p>
              <p class="normal">Click the green check mark once you have finished.</p>
            </div>
            <video controls>
              <source src="videos/paperclip-sweep.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="stepopt-paperclip">
            <video controls>
              <source src="videos/paperclip-color.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Optional Step: Use the Appearance Panel to Give your Paperclip some Color</h3>
              <p class="normal">Either right click on your new paperclip or go to the right and click on the Appearance Panel.</p>
              <p class="normal">Use the Palette or the Mixer to choose a color.</p>
            </div>
          </div>

          <hr class="divider">

          <div class="contents-button">
            <div class="wrapper-small">
                <h3 class="title-white">Take me back to the challenge</h3><br/>
                <a href="/paperclip-placemat" class="hvr-grow" target="_self"><button type="button" class="btn-home">Go back</button></a>
            </div>
          </div>
        </div>
      </div>


      <!-- <div id="Approach2" class="tabcontent">
        <div class="mid">
            <div class="contents-top2">
                <div class="text-description">
                  <h3>Overview of Steps</h3><br/>
                  <p class="normal">1) <a href="#" class="embed-link2">Add a step</a></p>
                </div>

                <script>
                  // The function actually applying the offset
                  function offsetAnchor() {
                    if (location.hash.length !== 0) {
                      window.scrollTo(window.scrollX, window.scrollY - 70);
                    }
                  }

                  // Captures click events of all a elements with href starting with #
                  $(document).on('click', 'a[href^="#"]', function(event) {
                    // Click events are captured before hashchanges. Timeout
                    // causes offsetAnchor to be called after the page jump.
                    window.setTimeout(function() {
                      offsetAnchor();
                    }, 0);
                  });

                  // Set the offset when entering page with hash present in the url
                  window.setTimeout(offsetAnchor, 0);
                </script>
                
                <div class="text-description">
                  <h3>Approach #2</h3><br/>
                  <div class="image-sneakpeek2">
                    <img src="images/cube-hole-view.gif" alt="cube-view-gif">
                  </div>
                </div> 
            </div>

            <hr class="divider">

            <div class="contents-top">
                <div class="text-description-center">
                  <h3> We tried! </h3>
                  <p class="normal">This is an example using ...</p>
                </div>
            </div>

            <hr class="divider">

            <div class="contents-button">
                <div class="wrapper-small">
                    <h3 class="title-white">Take me back to the challenge</h3><br/>
                    <a href="/cup-placemat" class="hvr-grow" target="_self"><button type="button" class="btn-home">Go back</button></a>
                </div>
            </div>
        </div>
      </div>

      <div id="Approach3" class="tabcontent">
        <h3 class="title-white">Approach #3</h3>
        
      </div>  -->

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
  </div>

  <script>
    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>