<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/paperclip-placemat.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <div class="top">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>  
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/" target="_self" data-scroll onclick="closeNav()">Home</a>
          <hr class="small">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/resources-page" target="_self" data-scroll onclick="closeNav()">Resources</a>
        </div>
      </div>
      <h2 class="header-text"> Onshape- </h2> 
    </div>
    <div class="mid"> 
      <div class="contents-top">
        <div class="text-description-center">
          <h3>Challenge Statement</h3>
          <p class="normal">Use Onshape to create a paperclip!</p>
        </div>
        <div class="contents-example">
          <h4>Example(s):</h4>
          <div class="image-sneakpeek2">
            <!-- <img src="images/cube-hole-view.gif" alt="cube-view-gif" class="challenge-examples"> -->
            <div class="sneakpeek-container">
              <img src="images/paperclip-view.gif" alt="paperclip-view" class="challenge-examples">
              <div class="feature-name">Our paperclip</div>
            </div>
          </div>
        </div>
      </div>

      <hr class="divider">

      <div class="contents-top">
        <div class="text-description-center">
          <h3> You try! </h3>
          <p class="normal">Some useful tools for this project can include ARC, LINE, PLANE, CIRCLE, and SWEEP, and any other tools you think can do the trick!</p>
        </div>
      </div>

      <div class="contents">
        <div class="tools-container">
          <h4>Initial Tool bar</h4>
          <p class="normal2">Tool bar outside of a sketch</p>
        </div>
        <div class="tools-container">
          <img src="images/paperclip-tools.png" alt="paperclip-tools1">
        </div>
      </div>
      <div class="contents">
        <div class="tools-container">
          <h4>Sketch Tool bar</h4>
          <p class="normal2">Tool bar once inside a sketch</p>
        </div>
        <div class="tools-container">
          <img src="images/paperclip-tools2.png" alt="paperclip-tools2">
        </div>
      </div>
      <hr class="divider">

      <div class="text-description-panel">
        <button class="accordion"><h3>Click here for some hints:</h3></button>
        <div class="panel">
          <p class="normal2">Think about what the cross-section for a paperclip looks like and think about if you can use the sweep tool.</p>
        </div>
      </div>

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
      </script>

      <hr class="divider"> 

      <div class="contents-top">
        <div class="text-description-center">
          <h3>See some solutions!</h3><br/>
          <p class="normal">Follow this button to learn how others did it!</p>
        </div>
        <br/>
        <a href="/paperclip" class="hvr-grow" target="_self"><button type="button" class="btn-home">Approaches</button></a><br/>
        <!-- <a href="/cube-hole2" class="hvr-grow" target="_self"><button type="button" class="btn-home">Approach #2</button></a> -->
      </div>

      <hr class="divider">

      <iframe name="dummy" id="dummy" style="display: none;"></iframe>
      <div id="feedback-form">
        <div class="form-container">
          <h3 class="title-white">Tell us how you solved this challenge!</h3>
          <!-- <p class="normal">Please fill out this quick feedback form and let us know what you think of our app!</p> -->
          <form id="feedback" target="dummy" name="google-sheets">
            <hr>
            <div class="text-input">
              <label for="approach">What were some of the steps that you took?</label>
              <input type="text" placeholder="..." id="approach" name="approach">
            </div> 
            
            <div class="text-input">
              <label for="easy">What was easy?</label>
              <input type="text" placeholder="..." id="easy" name="easy">
            </div>
            
            <div class="text-input">
              <label for="hard">What was hard?</label>
              <input type="text" placeholder="..." id="hard" name="hard">
            </div> 

            <div class="text-input">
              <label for="comment">Any additional comments?</label>
              <input type="text" placeholder="..." id="comment" name="comment">
            </div>
            <hr>

            <input type="submit" class="submitbtn" value="Submit">
          </form>
        </div>
      </div>

      <div id="form-closed">
        <h3 class="title-white"> Thanks for sharing! </h3>
      </div>

    </div>
    <div class="footer">
    </div>
  </div>
  <script>
    $('#feedback').submit(function () {
      formPost();
      return false;
    });
    function formPost() { 
      let url = "https://script.google.com/macros/s/AKfycbxtMOQmGMRpPcJ1TQ8k_S_v6VbGM5BcQF7IXcKMUKOdmTIoEXrr/exec";
      let method = "POST";
      let headers = {"Content-Type": "multipart/form-data"}
      let elements = document.getElementById("feedback").elements;
      // const form = document.forms['google-sheets'];
      let body = {};
      const formData = new FormData();
      for (var i = 0, element; element = elements[i++];) {
          if (element.type === "text"){
            let name = element.name;
            body[name] = element.value;
            formData.append(name, element.value);
          }
      }
      console.log(body);
      console.log(formData);

      // fetch(url, { method: method, body: JSON.stringify(body)}).then(res => console.log(res));
      fetch(url, {method: method, body: formData}).then(res => console.log(res));

      formSubmitClose();
    }

    function formSubmitClose() { 
      var form = document.getElementById("feedback-form");
      document.getElementById("feedback-form").style.animation = "fadeOut .2s forwards";
      document.getElementById("feedback-form").style.display = "none";
      document.getElementById("form-closed").style.display = "flex";
    }

    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>