<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/tools-page.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
  <!-- <link href="stylesheets/LemonMilkMedium-mLZYV.otf" rel="stylesheet">
  <link href="stylesheets/LandasansUltraLight-qZYq5.ttf" rel="stylesheet"> -->
</head>

<body>
  <div class="container">
    <div class="top">
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>  
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="#" data-scroll onclick="closeNav()">Activities</a>
        </div>
      </div>
      <h2 class="header-text"> Tools Page </h2> 
    </div>
    </div>

  <script>
    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    // form.addEventListener('click', () => form.classList.contains('submitted') ? formSubmitClose() : 
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>