<!DOCTYPE html>

<head>
  <script src="javascripts/jquery-1.8.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/threejs/three.min.js"></script>

  <script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
  <script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
  <script src="javascripts/threejs/js/Detector.js"></script>
  <script src="javascripts/threejs/js/libs/stats.min.js"></script>
  <script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

  <script src="javascripts/volcano.js"></script>

  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/hamburger.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <!-- heading container for menu button and app name -->
    <div class="top">
      <!-- menu button -->
      <button class="hamburger hamburger--spin" type="button">
        <!-- transition for menu button -->
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button> 
      <!-- these are the pages in the menu bar  -->
      <div id="popUpNav" class="overlay" onclick="closeNav()">
        <div class="overlay-content">
          <a href="/" target="_self" data-scroll onclick="closeNav()">Home</a>
          <hr class="small">
          <a href="/tools" target="_self" data-scroll onclick="closeNav()">Tools</a>
          <hr class="small">
          <a href="/activities" target="_self" data-scroll onclick="closeNav()">Activities</a>
          <hr class="small">
          <a href="/resources-page" target="_self" data-scroll onclick="closeNav()">Resources</a>
        </div>
      </div>
      <h2 class="header-text"> Onshape- </h2> 
    </div>

    <div class="mid"> 
      <div class="contents-center">
        <h4 id="stroke"> Volcano Approaches </h4><br/>
      </div>

      <!-- tabs for different approaches -->
      <div class="tablink-format">
        <button class="tablink" onclick="openPage('Approach1', this, '#453053')" id="defaultOpen">Approach #1</button>
      </div>

      <!-- first tab for approach 1 -->
      <div id="Approach1" class="tabcontent">
        <div class="mid">
          <div class="contents-top2">
            <div class="text-description">
              <h3>Overview of Steps</h3><br/>
              <p class="normal">1) <a href="#step1-volcano" class="embed-link2">Use the Spline Tool to Sketch the Base of the Volcano</a></p>
              <p class="normal">2) <a href="#step2-volcano" class="embed-link2">Create a New Plane to Sketch the Top of the Volcano</a></p>
              <p class="normal">3) <a href="#step3-volcano" class="embed-link2">Use the Spline Tool to Sketch the Top of the Volcano</a></p>
              <p class="normal">4) <a href="#step4-volcano" class="embed-link2">Use the Loft Tool to Create the Body of the Volcano</a></p>
              <p class="normal">5) <a href="#step5-volcano" class="embed-link2">Use the Shell Tool to Make the Volcano Hollow</a></p>
              <p class="normal">6) <a href="#step6-volcano" class="embed-link2">Use the Fillet Tool to Soften the Edges of the Volcano</a></p>
              <p class="normal">*) <a href="#stepopt-volcano" class="embed-link2">Use the Appearance Panel to Change the Color of the Volcano Body</a></p>
              <p class="normal">7) <a href="#step7-volcano" class="embed-link2">Create a New Plane for the Lava</a></p>
              <p class="normal">8) <a href="#step8-volcano" class="embed-link2">Use the Spline Tool and Line Tool to Sketch the Lava</a></p>
              <p class="normal">New Part Studio</p>
              <p class="normal">9) <a href="#step9-volcano" class="embed-link2">Use the Extrude Tool to Make the Lava 3D</a></p>
              <p class="normal">10) <a href="#step10-volcano" class="embed-link2">Use the Fillet Tool to Soften the Curves of the Lava</a></p>
              <p class="normal">*) <a href="#stepopt2-volcano" class="embed-link2">Use the Appearance Panel to Change the Color of the Lava</a></p>
              <p class="normal">11) <a href="#step11-volcano" class="embed-link2">Put the Volcano Together in Assembly</a></p>
            </div>

            <script>
              // The function actually applying the offset
              function offsetAnchor() {
                if (location.hash.length !== 0) {
                  window.scrollTo(window.scrollX, window.scrollY - 70);
                }
              }

              // Captures click events of all a elements with href starting with #
              $(document).on('click', 'a[href^="#"]', function(event) {
                // Click events are captured before hashchanges. Timeout
                // causes offsetAnchor to be called after the page jump.
                window.setTimeout(function() {
                  offsetAnchor();
                }, 0);
              });

              // Set the offset when entering page with hash present in the url
              window.setTimeout(offsetAnchor, 0);
            </script>
            
            <div class="text-description">
              <h3>Approach #1</h3><br/>
              <div class="image-sneakpeek3">
                <img src="images/volcano-final.gif" alt="volcano-gif">
              </div>
            </div> 
          </div>
          
          <hr class="divider">

          <div class="contents-top">
            <div class="text-description-center">
              <h3> We tried! </h3>
              <p class="normal">We used SPLINE, PLANE, SHELL, LOFT, FILLET, and EXTRUDE.</p>
            </div>
          </div>

          <div class="contents" id="step1-volcano">
            <video controls>
              <source src="videos/volcano-sketch1.mov" type="video/mp4">
            </video>
            <div class="text-description">
                <h3>Step 1: Use the Spline Tool to Sketch the Base of the Volcano</h3>
                <p class="normal">To make sure the volcano appears upright, start with a sketch on the Top plane.</p>
                <div class="dropdown">
                  <span>Why?</span>
                  <div class="dropdown-content">
                    <p class="normal">The plane that you sketch on matters when you put the parts together in Assembly. It's good to get into the habit of building as if you were physically building it with your hands. <strong><i>Think</i></strong>: if you had some clay and started molding on the wall (Right or Front plane) instead of on a table (Top plane), your volcano will be sideways. But no worries, you can change the orientation in the Assembly; it's just an extra step!</p>
                  </div>
                </div>
                <p class="normal">Use the spline tool to draw a random shape as the base. Click as many times as you want to make curves in your volcano, and go around in a circular path.</p>
                <div class="dropdown">
                  <span>Note:</span>
                  <div class="dropdown-content">
                    <p class="normal">With the spline tool, you are essentially playing "connect the dots," except in this case, you are creating and connecting the dots simultaneously. Once you are done using the tool, you can either click "esc" on your keyboard or deselect the tool in the tool bar.</p>
                  </div>
                </div>
                <p class="normal"><strong>** Make sure that you close off your volcano base by ending on the first dot/checkoint you made with the spline tool. **</strong></p>
                <div class="dropdown">
                  <span>How? Why?</span>
                  <div class="dropdown-content">
                    <p class="normal">You can tell that you made a closed-off shape because your shape's interior will be slightly shaded. If not closed off, you will just see your spline sketches (colored blue). <strong><i>Think</i></strong>: volcanos are solids, so you want a solid base. Let's say you drew an incomplete circle on a piece of paper and ONLY cut along the lines you drew: you wouldn't be able to fully cut out your circle. If you completed the circle, you'd be able to remove your circle from the rest of the paper.</p>
                  </div>
                </div>
                <p class="normal">Click the green check mark to finish the sketch.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step2-volcano">
            <div class="text-description">
              <h3>Step 2: Create a New Plane to Sketch the Top of the Volcano</h3>
                <p class="normal">Change your orientation to the Front view so that you can see the sketch layers better. So far, you can see your first sketch, which will be the base of the volcano.</p>
                <p class="normal">Before sketching the top of the volcano, use the plane tool to create a new plane. Offset it upwards by how tall you want your volcano to be. In this case, we offsetted it by 3 inches, so this volcano will be 3 inches tall.</p>
                <div class="dropdown">
                  <span>Why?</span>
                  <div class="dropdown-content">
                    <p class="normal">When 3D modeling, you need to specify where you want things to be and/or where you want them to end up. When you sketch on a plane, you are directly sketching on that plane, wherever it is located. This is why we need to create another plane and offset it so that our sketch for the top of the volcano isn't directly on top of our base. <strong><i>Think</i></strong>: it's like drawing both the base and the top on the same sheet of paper. The paper is 2D, and so your volcano will be 2D as well. Each plane is like a piece of paper: 2D.</p>
                  </div>
                </div>
                <p class="normal">Click the green check mark to finish adding the plane.</p>
            </div>
            <video controls>
              <source src="videos/volcano-plane.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step3-volcano">
            <video controls>
              <source src="videos/volcano-sketch2.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 3: Use the Spline Tool to Sketch the Top of the Volcano</h3>
              <p class="normal">On the new plane that you just created (Plane 1), use the spline tool again to sketch the top of the volcano.</p>
              <p class="normal"><strong>** Remember that a volcano normally has a wide base and a smaller top, so make sure the sketch of the top of the volcano is smaller than that of the base. In other words, make the circular path shorter/smaller.</strong></p>
              <p class="normal">Click the green check mark to finish the sketch of the top plane.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step4-volcano">
            <div class="text-description">
              <h3>Step 4: Use the Loft Tool to Create the Body of the Volcano</h3>
              <p class="normal">When you look at the Front view, you can see your two sketchs: the larger one on the bottom and the smaller one on top.</p>
              <p class="normal">We want to create the body of the volcano by connecting the larger sketch (base of volcano) to the smaller sketch (top of volcano). To do this, use the loft tool and select the faces of the two sketches.</p>
              <div class="dropdown">
                <span>Why Loft?</span>
                <div class="dropdown-content">
                  <p class="normal">Loft is a unique tool that gives the users a bit more freedom. It's almost like the extrude tool, except you can control how and where it ends. As long as you have a starting sketch/face and an end sketch/face, Loft will connect the two.</p>
                </div>
              </div>
              <p class="normal">Click the green check mark to finish the loft.</p>
            </div>
            <video controls>
              <source src="videos/volcano-loft.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step5-volcano">
            <video controls>
              <source src="videos/volcano-shell.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 5: Use the Shell Tool to Make the Volcano Hollow</h3>
              <p class="normal">Select the shell tool, and then click on the top surface of the volcano.</p>
              <p class="normal"><strong>** We want the top of the volcano to be hollow, not the bottom. So make sure to select the top surface and not the bottom. </strong></p>
              <div class="dropdown">
                <span>Doesn't work. Why?</span>
                <div class="dropdown-content">
                  <p class="normal">You may run into some issues with this tool. Perhaps Onshape isn't letting you make your volcano hollow, and there are red outlines on your sketch or you get error messages. This is because of how you made the body of your volcano. Try adjusting your shell thickness by making it smaller. Also, checking "Hollow" will only make the inside of your volcano hollow and won't include the top. The shell tool just empties out your volcano and just leaves the shell of it.</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step6-volcano">
            <div class="text-description">
              <h3>Step 6: Use the Fillet Tool to Soften the Edges of the Volcano</h3>
              <p class="normal">Select the fillet tool, and then select the outer edge of the top of the volcano.</p>
              <div class="dropdown">
                <span>Note:</span>
                <div class="dropdown-content">
                  <p class="normal">Think of the fillet tool as sandpaper. You're softening and curving the edges so that it's not as pointy.</p>
                </div>
              </div>
              <p class="normal">Set the fillet radius to 0.1 inches.</p>
              <div class="dropdown">
                <span>Doesn't work. Why?</span>
                <div class="dropdown-content">
                  <p class="normal">Some of you might run into some issues with this as well. Depending on how thick/thin your shell is, you may have to play around with the fillet radius. Try adjusting it! The fillet radius is the radius of the curve, so if your shell thickness is small, then you might have to decrease the radius of the curve.</p>
                </div>
              </div>
              <p class="normal">Click the green check mark to finish the fillet.</p>
            </div>
            <video controls>
              <source src="videos/volcano-fillet.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="stepopt-volcano">
            <video controls>
              <source src="videos/volcano-body-color.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Optional Step: Use the Appearance Panel to Change the Color of the Volcano Body</h3>
              <p class="normal">Right click on the body of the volcano and select "edit appearance."</p>
              <p class="normal">Adjust the color to get the color of your liking, then click the green check mark to finish the edit.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step7-volcano">
            <div class="text-description">
              <h3>Step 7: Create a New Plane for the Lava</h3>
              <p class="normal">In the same part studio as the volcano body, use the plane tool to create another plane on the Front plane.</p>
              <div class="dropdown">
                <span>Note:</span>
                <div class="dropdown-content">
                  <p class="normal">You can draw the lava in another part studio; this is just to help people sketch the angle at which they want their lava and to visualize how they want their sketch to look.</p>
                </div>
              </div>
              <p class="normal">From the left plane perspective, offset the plane by enough to be near the edge of the volcano's body. In this example, we offset it by 1.5 inches.</p>
              <p class="normal"><strong>** Make sure that the plane still entirely intersects the volcano body.</strong></p>
              <div class="dropdown">
                <span>Why?</span>
                <div class="dropdown-content">
                  <p class="normal">Remember that your sketch goes directly on the plane, wherever the plane is located. So, we want to make sure that our plane is just on the edge of the side of our volcano because that is where the lava on a volcano normally is.</p>
                </div>
              </div>
              <p class="normal">Click the green check mark to finish creating the new plane.</p>
            </div>
            <video controls>
              <source src="videos/volcano-plane2.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step8-volcano">
            <video controls>
              <source src="videos/volcano-lava-sketch.mp4" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 8: Use the Spline Tool and Line Tool to Sketch the Lava</h3>
              <p class="normal">On the new plane that you made (Plane 2), use the spline tool to create the lava by drawing out what you think lava falling down a volcano should look like.</p>
              <p class="normal"><strong>** To make it look more liquidious/smooth, create many dots/checkpoints, which will create curves for the lava. **</strong></p>
              <p class="normal">Use the line tool to connect and close off your lava so that it is its own shape.</p>
            </div>
          </div>

          <div class="contents-top">
            <div class="new-part">
              <h6>-- New Part --</h6>
            </div>
          </div>

          <div class="contents" id="step9-volcano">
            <div class="text-description">
              <h3>Step 9: Use the Extrude Tool to Make the Lava 3D</h3>
              <p class="normal">Copy the sketch of the lava that you just made. In a new part studio, paste that sketch into a new sketch (Sketch 1).</p>
              <div class="dropdown">
                <span>Why?</span>
                <div class="dropdown-content">
                  <p class="normal">We want to do this in a separate part studio because we want the lava to be a separate part than the body. If we kept it in the first part studio, it would simply be a surface instead of its own part. This becomes an issue when you try to import it into an Assembly or when you try to 3D print it: neither can process a surface. <strong><i>Think</i></strong>: try building a volcano with something like clay. Normally, we mold the body of the volcano first and then use more clay material to mold the lava. We either mold the lava separately and press it onto the body, or we mold it on the body itself. Either way, we can separate the clay lava and the clay body into two parts.</p>
                </div>
              </div>
              <p class="normal">Use the extrude tool to extrude add the surface of the lava. This will make the lava 3D.</p>
              <p class="normal">Adjust how thick you want the lava to be, and then click the green check mark to finish the extrude.</p>
            </div>
            <video controls>
              <source src="videos/volcano-lava-extrude.mp4" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step10-volcano">
            <video controls>
              <source src="videos/volcano-lava-fillet.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 10: Use the Fillet Tool to Soften the Curves of the Lava</h3>
              <p class="normal">Start off by filleting the top curve. Select the fillet tool and then click on the top edge of the lava. Use the arrow that appears afterwards and drag it as far down as you want.</p>
              <p class="normal">Click on the green check mark to finish the top fillet. Then click on the tool again and select the side edges of the lava. You can adjust how much you want to fillet it by changing the radius, but we are satisfied with 0.2 inches fillet.</p>
              <p class="normal">Click on the green check mark to finish the fillets.</p>
            </div>
          </div>

          <hr class="step-divider">

          <div class="contents" id="stepopt2-volcano">
            <div class="text-description">
              <h3>Optional Step: Use the Appearance Panel to Change the Color of the Lava</h3>
              <p class="normal">Right click on the lava part and select "edit appearance."</p>
              <p class="normal">Play around with the colors and choose a color that you think is best.</p>
              <p class="normal">Click the green check mark to finish editing the color.</p>
            </div>
            <video controls>
              <source src="videos/volcano-lava-color.mov" type="video/mp4">
            </video>
          </div>

          <hr class="step-divider">

          <div class="contents" id="step11-volcano">
            <video controls>
              <source src="videos/volcano-assembly.mov" type="video/mp4">
            </video>
            <div class="text-description">
              <h3>Step 11: Put the Volcano Together in Assembly</h3>
              <p class="normal"><strong>** You can add an Assembly tab by clicking on the "+" button on the bottom left hand corner. **</strong></p>
              <p class="normal">In a new Assembly, import the two parts that you made (the volcano body and the lava) by clicking on "Insert" at the top left hand corner.</p>
              <div class="dropdown">
                <span>Why?</span>
                <div class="dropdown-content">
                  <p class="normal">The parts that you made are like LEGO bricks. You have to put the two together, and Assembly is the place to do it. <strong><i>Think</i></strong>: we're now pressing our clay pieces together to finalize our volcano.</p>
                </div>
              </div>
              <p class="normal">Use your mouse or the arrows provided on the parts to move your parts around and assemble your volcano.</p>
              <div class="dropdown">
                <span>How?</span>
                <div class="dropdown-content">
                  <p class="normal">The arrows are used to move the parts linearly: foward, backward, sideways. The circles are used to rotate or turn the part around. The squares are used to move the entire part anywhere you'd like. <strong><i>Recommendation</i></strong>: change your view to just one: Front, Back, Right, etc. Then use the arrows to adjust the part within that view, and then move onto the next view. That way you won't be overwhelmed with all the different arrows, squares, and circles.</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="divider">

          <div class="contents-button">
            <div class="wrapper-small">
                <h3 class="title-white">Take me back to the challenge</h3><br/>
                <a href="/volcano-placemat" class="hvr-grow" target="_self"><button type="button" class="btn-home">Go back</button></a>
            </div>
          </div>
        </div>
      </div>

    <script>
      // open tabs
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
  </div>

  <script>
    // open navigation menu bar
    function openNav() {
      hamburger.classList.add("is-active");
      document.getElementById("popUpNav").style.display = "block";
    }
  
    // close navigation menu bar
    function closeNav() {
      hamburger.classList.remove("is-active");
      document.getElementById("popUpNav").style.display = "none";
    }
  
    // Hamburger Menu Spin
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener('click', () => hamburger.classList.contains('is-active') ? closeNav() : openNav());
  
    closeNav();
  </script> 
</body>
</html>