@font-face {
    font-family: 'LandasansLight';
    src: url('./Landasans-UltraLight.eot');
    src: url('./Landasans-UltraLight.eot?#iefix') format('embedded-opentype'), url('./Landasans-UltraLight.woff2') format('woff2'), url('./Landasans-UltraLight.woff') format('woff'), url('./Landasans-UltraLight.ttf') format('truetype'), url('./Landasans-UltraLight.eot') format('svg');
}

@font-face {
    font-family: 'LemonBold';
    src: url('./LEMONMILK-Medium.eot');
    src: url('./LEMONMILK-Medium.eot?#iefix') format('embedded-opentype'), url('./LEMONMILK-Medium.woff2') format('woff2'), url('./LEMONMILK-Medium.woff') format('woff'), url('./LEMONMILK-Medium.ttf') format('truetype'), url('./LEMONMILK-Medium.svg') format('svg');
}

@font-face {
    font-family: 'Swansea';
    src: url('./Swansea.eot');
    src: url('./Swansea.eot?#iefix') format('embedded-opentype'), url('./Swansea.woff2') format('woff2'), url('./Swansea.woff') format('woff'), url('./Swansea.ttf') format('truetype'), url('./Swansea.svg#Swansea') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fontawesome-webfont.eot?v=4.7.0');
    src: url('./fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /*     z-index: 2;
    position: absolute;
    top: 100vh;
    line-height: 30px;
    padding: 40px; */
}

.top {
    z-index: 8;
    background-color: #3F3888;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

h2 {
    color: #F1F1F5;
    font-family: 'LemonBold';
    font-size: 50px;
    margin: 0;
    align-self: center;
    flex: 2 0 auto;
    order: 2;
    margin-right: 80px;
    /* margin-right: 33.5%; */
}

ul {
    margin: 0;
    padding: 0;
    font-family: 'LemonBold';
    color: white;
    list-style-type: none;
}

li {
    display: inline-block;
    font-family: 'LemonBold';
    color: white;
    margin-right: 20px;
}

body {
    background-color: #251C2C;
    margin: 0;
    /* these following lines were added */
    /* color: white;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden; */
}

body2 {
    background-color: #3C4FCC;
    margin: 0;
}

.header {
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
    background-image: url("../images/home-bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header h7 {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Swansea";
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 50px;
}

.emphasis:before {
    content: '';
    color: #E56878;
    font-size: 65px;
    animation: animate infinite 6s;
}

@keyframes animate {
    0% {
        content: 'CAD';
    }
    25% {
        content: 'Create';
    }
    50% {
        content: 'Animate';
    }
    75% {
        content: 'Design';
    }
    100% {
        content: 'CAD'
    }
}

.header-activities {
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
    background-image: url("../images/activities-bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #251C2C;
    text-align: center;
    /* opacity: 1; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: 'LemonBold';
    color: #F1F1F5;
    margin-bottom: 10px;
    margin-top: 0;
}

.top-center {
    display: flex;
    width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
}

.center-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'LemonBold';
    color: black;
    margin-bottom: 10px;
    margin-top: 0;
}

.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-top: 6%;
    width: 100%;
    resize: both;
    overflow-x: hidden;
}

.contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5%;
    background-color: #30223a;
}

.contents-mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin: 0;
    background-color: transparent;
    z-index: 1;
}

.contents-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5%;
    background-color: #30223a;
}

.contents-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    /* width: 90%; */
}

.pages-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100;
    margin-bottom: 10%;
    margin-top: 35px;
}

.total-overview {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
}

.page-overview {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    border-color: #F1F1F5;
    border-style: solid;
    border-radius: 10px;
}

.overview {
    display: block;
    width: 100%;
    height: auto;
}

.text-overview {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.text-overview2 {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-items: center;
    border-color: #F1F1F5;
    border-style: solid;
    border-radius: 10px;
}

.embed-link {
    font-size: 20px;
    color: #E56878;
    font-family: "LemonBold";
}

.embed-link:hover {
    color: gray;
}

.overlay-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: .3s ease;
    background-color: #F1F1F5;
}

.page-overview:hover .overlay-icon {
    opacity: 1;
}

.hvr-icon-rotate {
    /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;  */
    color: #E56878;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hvr-icon-rotate .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-rotate:hover .hvr-icon,
.hvr-icon-rotate:focus .hvr-icon,
.hvr-icon-rotate:active .hvr-icon {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 550px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #443450;
    padding: 5px;
}

.contents-button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
    width: 90%;
    /* margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%; */
    /* display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 0%; */
}

.contents-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.text-description {
    background-color: #F1F1F5;
    border-radius: 10px;
    width: 60%;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
}

.text-description2 {
    background-color: black;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
}


/* .text-description-med {
    background-color: #F1F1F5;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
} */

.text-description-large {
    background-color: #F1F1F5;
    border-radius: 10px;
    width: 90%;
    height: 600px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: 30px;
    margin-right: 30px; */
    /* margin: 2%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    margin: 2%;
    /* margin-left: 5%; */
}

.text-description-center {
    background-color: #F1F1F5;
    border-radius: 10px;
    width: 100%;
    height: 220px;
    text-align: left;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.text-description-center2 {
    background-color: #000000;
    border-radius: 10px;
    width: 63%;
    height: 400px;
    text-align: left;
    align-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2%;
    margin-bottom: 2.5%;
    margin-left: 3%;
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.text-description-panel {
    background-color: #251C2C;
    border-radius: 10px;
    width: 100%;
    height: 550px;
    text-align: left;
    align-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.image-container {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%
}

.image-right {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: 90%;
}

.image-sneakpeek {
    margin: 10;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.image-sneakpeek2 {
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    /* max-width: 300px;
    max-height: 300px;  */
    display: flex;
    align-items: center; 
    flex-direction: row;
}

.sneakpeek-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 5px; 
    margin-right: 5px; 
}

.feature-name {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.sneakpeek-container:hover .feature-name {
    opacity: 1; 
}

img.challenge-examples {
    width: 300px;
    height: 250px;
    margin-left: 5px; 
    margin-right: 5px; 
}

.text-sneakpeek {
    margin: 10;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-top: 0%;
}

.big-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    width: 70%;
    height: 900px;
    background-color: #F1F1F5;
    overflow-y: scroll
}

.video-container {
    width: 1008px;
    height: 546px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

.container-video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    text-align: center;
    z-index: 0;
}

img.shadow {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px -4px #777;
}

img.shadow2 {
    width: 511px;
    height: 402px;
    border-radius: 10px;
    box-shadow: 0 8px 16px -4px #000;
}

h3 {
    color: #E56878;
    margin-bottom: 0;
    /* padding-bottom: 0; */
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    /*float: left;*/
}

h6 {
    color: white;
    margin-bottom: 0;
    /* padding-bottom: 0; */
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    /*float: left;*/
}

h3.title {
    margin-bottom: 7px;
    font-size: 25px;
    color: #F1F1F5;
}

h3.title-white {
    /* margin-bottom: 7px; */
    font-size: 35px;
    color: #F1F1F5;
    margin-bottom: 10px;
    margin-top: 5px;
}

h4 {
    color: #F1F1F5;
    margin-bottom: 2%;
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    margin-top: 0%;
}

img.med {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    margin-left: 50px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

video {
    /* width: 85%;
  height: 100%;
  border-radius: 10px;
  position: relative; */
    z-index: 0;
    margin-right: 5%;
    width: 50%;
    height: 60%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer {
    background-color: #3F3888;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    width: 80%;
    height: 600px;
    background-color: #3C4FCC;
}

.wrapper-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    width: 80%;
    height: flex;
    background-color: #3C4FCC;
}

.wrapper-small2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    width: 80%;
    height: flex;
    background-color: #3C4FCC;
}

.wrapper-small3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    width: 80%;
    height: flex;
    background-color: #3C4FCC;
}

p {
    /*float: left;*/
    margin-top: 2%;
    margin-left: 0;
    padding: 0;
    font-family: 'LandasansLight';
    font-size: 23px;
    text-align: center;
    line-height: 20px;
}

p0 {
    /*float: left;*/
    margin-top: 2%;
    margin-left: 0;
    padding: 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 23px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.warning-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.container-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
}

.container-text-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 5%;
}

p.bold {
    color: #F1F1F5;
    font-size: 35px;
}

p.normal {
    font-family: "Swansea";
    font-size: 18px;
}

p.normal2 {
    font-family: "Swansea";
    font-size: 18px;
    color: white; 
}

p.page-title {
    font-family: "Swansea";
    font-size: 25px;
    color: #F1F1F5;
    line-height: 35px;
    font-weight: bolder;
}

p.page-title2 {
    font-family: "Swansea";
    font-size: 25px;
    color: black;
    line-height: 35px;
    font-weight: bolder;
}

p.description {
    font-family: "Swansea";
    font-size: 18px;
    color: #F1F1F5;
    line-height: 20px;
}

p.description2 {
    font-family: "Swansea";
    font-size: 18px;
    color: black;
    line-height: 20px;
}

p.header-description {
    padding: 0;
    margin: 0;
    line-height: 40px;
    color: white;
    font-family: "Swansea";
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

#feedback-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    font-size: 25px;
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    font-size: 25px;
    align-items: center;
}

.closed {
    display: none;
}

#form-closed {
    width: 300px;
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    background-color: #3C4FCC;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    margin: auto;
    width: 80%;
    height: 750px;
    background-color: #3C4FCC;
}

label {
    color: #F1F1F5;
    font-size: 25px;
    font-family: "normal";
    margin-bottom: 0;
    padding: 0;
}

input {
    width: 450px;
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #F1F1F5;
    margin-bottom: 25px;
    width: 400px;
}

.divider {
    border: 1px solid #F1F1F5;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 90%;
}

.text-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.submitbtn {
    background-color: #F1F1F5;
    font-family: "LemonBold";
    color: #E56878;
    font-size: 40px;
    border-radius: 38px;
    padding: 14px 18px;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
}

.submitbtn:hover {
    opacity: 1;
}

.google-docs {
    background-color: #E56878;
    font-family: "LandasansLight";
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.google-docs:hover {
    opacity: 1;
}

.hide {
    display: none;
}

button:focus {
    outline: none;
}

video:focus {
    outline: none;
}

.rating {
    width: 30px;
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overlay-content {
    z-index: 9;
    /* margin-left: 50px;
  margin-top: 15px; */
    padding: 0;
    left: 65px;
    top: 10px;
    background-color: #3F3888;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 8px 25px -4px #000;
}

.overlay-content a {
    font-family: 'LemonBold';
    font-size: 25px;
    color: #F1F1F5;
    text-decoration: none;
    opacity: .7;
}

.overlay-content a:hover {
    opacity: 1;
}

.small {
    width: 100px;
}

label {
    font-family: "Swansea";
}

.rating>label {
    padding: 0;
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    position: absolute;
    color: #FFD700;
}

.menu-button {
    margin-left: 1.5%;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    opacity: .5;
}

.menu-button:hover {
    cursor: pointer;
    opacity: 1;
}

.bar1,
.bar2,
.bar3 {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: #F1F1F5;
}

.btn-home {
    background-color: #F1F1F5;
    font-family: "LemonBold";
    color: #E56878;
    font-size: 40px;
    border-radius: 38px;
    padding: 14px 18px;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.btn-activity {
    background-color: #F1F1F5;
    font-family: "LemonBold";
    color: #E56878;
    font-size: 18px;
    border-radius: 16px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.accordion {
    background-color: #eee;
    border-radius: 10px; 
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ebd2cb;
}

.panel {
    padding: 0 18px;
    background-color: #30223a;
    border-radius: 10px; 
    display: none;
    width: 100%;
    overflow: hidden;
}

.small_gif {
    width: 5%;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-right: auto;
    margin-left: auto;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hvr-curl-top-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-curl-top-right:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: white;
    /* IE9 */
    background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
}

.hvr-curl-top-right:hover:before,
.hvr-curl-top-right:focus:before,
.hvr-curl-top-right:active:before {
    width: 25px;
    height: 25px;
}

.contents1 {
    display: flex;
    flex-direction: row;
}


/* @media (hover: hover) {
  .menu-button .bar1 .bar2 .bar3{
    transform: translateY(2px);
    transition: 0.2s ease-out;
    opacity: .5;
  }
  .menu-button:hover div {
    transform: translateY(-2px);
    transition-delay: var(--delay);
    opacity: 1; 
    box-shadow: 0 5px 10px -4px #000;
  }
} */


/* fieldset, label {
  margin: 0; 
  padding: 0; 
}


.rating {
  border: none; 
  direction: rtl;
}

.rating > input {
  display: none; 
}

.rating > label:before {
  margin: 5px; 
  font-size: 1.25em; 
  font-family: "Swansea";
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute; 
}

.rating > label {
  color: #ddd;
  float: right;
} */


/* body {
    min-height: 100vh;
} */


/* SIDEBAR POSITION */

.sidebar {
    background-color: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 400px;
    z-index: 50;
}

.sidebar2 {
    background-color: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 400px;
}

.sidebar__content {
    padding: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.sidebar2__content {
    padding: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
}


/* SIDEBAR HIDDEN STATE */

.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(100%);
}

.sidebar2[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(100%);
}


/* SIDEBAR VISIBLE STATE */

.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}

.sidebar2:not([aria-hidden]),
.sidebar2[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}

.speech-bubble {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 890px;
    text-align: center;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 550px;
    left: 520px;
}

.arrow-left {
    /* border-style: solid;
    position: absolute;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    top: 250px;
    left: -20px; */
    width: 8px; 
    height: 8px; 
    color: black; 
}

.arrow-left-corner {
    width: 6px; 
    height: 0; 
    border-top: 3px solid black; 
    border-left: 3px solid #3F3888;
}

.bottom {
    border-color: #000000 black black black;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

.bottom:after {
    border-color: #000000 black black black;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
}

.speech-bubble2 {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 550px;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 900px;
}

.speech-bubble2 .arrow-left2 {
    border-style: solid;
    position: sticky;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    top: 250px;
    right: -20px;
}

.bottom2 {
    border-color: #000000 black black black;
    border-width: 8px 8px 0px 8px;
    left: -8px;
}

.bottom2:after {
    border-color: #000000 black black black;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: sticky;
    left: -7px;
}

#myInput {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 92%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myInput2 {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 92%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myInput3 {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 92%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL2 {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL3 {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL2 li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL3 li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

#myUL2 li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

#myUL3 li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'LemonBold';
}


/* Style tab links */

.tablink-format {
    display: flex; 
    float: left; 
    flex-direction: row;
    width: 100%
}

.tablink {
    background-color: #000000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
    font-family: 'LemonBold';
}

.tablink:hover {
    background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 100px 20px;
}

#Home {
    background-color: #3F3888;
}

#Tools {
    background-color: #3F3888;
}

#FAQs {
    background-color: #3F3888;
}

.top2 {
    background-image: url("images/cow print.jpg");
    width: 100%;
    height: 10%;
    position: static;
    top: 0;
    text-align: center;
}

#stroke {
    color: rgb(255, 255, 255);
    font-size: 55px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#stroke2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p9 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
}

blockquote {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.contents1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin: 0;
    /* margin-bottom: 5px; */
    background-color: #30223a;
    z-index: 1;
}

.contents-resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin: 0;
    background-color: transparent;
    z-index: 1;
}

.contents2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-top: 0%;
}


/* .contents-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 40%;
    margin-right: 0%;
    margin-top: 4%;
} */

.contents-center2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 68%;
    margin-right: 32%;
    margin-top: 0%;
}


/* .image-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 95%;
    left: 10px;
    position: relative;
    top: 100px;
    z-index: 10;
} */

.image-row-2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 95%;
    left: 10px;
    position: relative;
    top: 10px;
    z-index: 10;
}


/* .text-description {
    background-color: #000000;
    border-radius: 10px;
    width: 88%;
    height: 250px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: scroll;
} */

.text-description-sidebar {
    background-color: #000000;
    border-radius: 10px;
    width: 370px;
    height: 730px;
    text-align: justify;
    align-content: flex-start;
    margin: 2.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: scroll;
}


/* .text-description-center {
    background-color: #000000;
    border-radius: 10px;
    width: 63%;
    height: 400px;
    text-align: left;
    align-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2%;
    margin-bottom: 2.5%;
    margin-left: 3%;
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
} */

.text-description-short {
    background-color: #000000;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    text-align: left;
    align-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    position: relative;
    margin-top: 10%;
}

.text-description-right {
    background-color: #000000;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    text-align: left;
    align-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-left: 50%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.text-description-long {
    background-color: #000000;
    border-radius: 10px;
    width: 60%;
    height: 555px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.text-description-med {
    background-color: #000000;
    border-radius: 10px;
    width: 87%;
    height: 400px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.text-description-longer {
    background-color: #000000;
    border-radius: 10px;
    width: 60%;
    height: 600px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.text-description-longerr {
    background-color: #000000;
    border-radius: 10px;
    width: 60%;
    height: 650px;
    text-align: left;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.5%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}


/* .image-container {
    margin-left: 10px;
    padding: 0;
} */

.image-right-1 {
    margin-left: 5%;
    margin-right: 5%;
    width: 160%;
}

.image-right-2 {
    margin-left: 35%;
    margin-right: 20%;
    width: 30%;
}

.image-right-3 {
    margin-left: 17%;
    margin-right: 20%;
    margin-top: 5%;
    width: 65%;
}

.image-right-4 {
    margin-left: 2%;
    margin-right: 5%;
    width: 40%;
}


/* h3 {
    color: #ffffff;
    margin-bottom: 2%;
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    margin-top: 3%;
    float: left;       this line was commented out before
} */


/* h4 {
    color: #000000;
    margin-bottom: 2%;
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    margin-top: 0%;
    float: left;       this line was commented out before
} */

h5 {
    color: #000000;
    margin-bottom: 2%;
    font-family: 'LemonBold';
    font-size: 30px;
    line-height: 35px;
    margin-top: 0%;
    position: absolute;
    top: 180px;
    /*float: left;*/
}


/* img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */

.small_gif {
    width: 10%;
    top: 610px;
    left: 300px;
    position: absolute;
}

.cow {
    width: 8%;
    top: 700px;
    left: 1550px;
    position: fixed;
    z-index: 100;
}


/* .footer {
    background-color: #000000;
} */

p2 {
    margin-top: 5px;
    margin-left: 0;
    padding: 0;
    margin-bottom: 4%;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 26.4px;
    color: white;
}

p-black {
    /*float: left;*/
    margin-top: 6%;
    margin-left: 0;
    padding: 0;
    margin-bottom: 4%;
    font-size: 35px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 26.4px;
    color: #000000;
}

p-black2 {
    /*float: left;*/
    margin-top: 6%;
    margin-left: 0;
    padding: 0;
    margin-bottom: 4%;
    font-size: 35px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 26.4px;
    position: absolute;
    top: 140px;
    color: #000000;
}


/* video {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    height: 280px;
    position: relative;
    border-radius: 10px;
} */

a {
    color: white;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img.gallery-display {
    /* max-height: 100px;
    max-width: 125px; */
    width: 100%; 
    /* height: 100%;  */
    /* width: 100%; */
    /* max-width: 150px; 
    max-height: 150px; */
    /* display: block;  */
}

.gallery-container {
    display: flex; 
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;  */
    background-color: #453053;
}

.gallery-row {
    margin: 10px -16px;
}

.gallery-row,
.gallery-row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-content {
    background-color: #cec8da;
    padding: 10px;
    width: 100%;
    border-radius: 10px; 
    /* flex-direction: row;  */
}

.gallery-image {
    height: 100px;
    width: 125px;
}

.show {
    display: block;
}

.btn {
    border: none;
    border-radius: 10px; 
    outline: none;
    padding: 12px 16px;
    background-color: white;
    font-family: "LemonBold";
    font-size: 18px; 
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
}

.btn.active {
    background-color: #E56878;
    color: white;
}

#img-preview {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#img-preview:hover {
    opacity: 0.7; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 700px;
    max-height: 500px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
