#index-container {
  margin: 30px;
}

#login-container {
  width: 400px;
}

#stl-tolerance-btn {
  margin: 3px;
}

table,
th {
  font-family: "Open-Sans";
  font-size: 11pt;
  color: #333333;
  align: left;
  line-height: 50px;
}

.header {
  overflow: hidden;
  background-color: #EDEFF0;
  padding: 20px 10px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  box-shadow: 0px 15px 6px -6px #777; 
}

.header-left {
  width: 50%;
}

.header-left a {
  float: left;
  color: black; 
  text-align: center; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  line-height: 25px; 
  border-radius: 4px;
}

.header-left a.logo {
  font-size: 25px; 
  font-weight: bold; 
}

.header-left a:hover{
  background-color: #A5E8F3;
  color: black;
}

/* .header-right {
  float: right;
} */

.header-right button {
  background-color: #6CCFF7;
  border-radius: 5px; 
  box-shadow: 0px 10px 6px -6px #777;
  color: black; 
  cursor: pointer;
}

#home-button{
  border: 2px solid black;
  text-align: left; 
  font-size: 16px;
  padding: 32px; 
}

#another-button{
  background-image: linear-gradient(red,yellow);
  border: none; 
  text-align: left; 
  font-size: 20px;
  margin: 2px;
  padding: 32px; 
}

#stl-menu-bar {
  float: left;
  width: 25%;
  height: 100%;
  min-height:100%;
  overflow: scroll;
  margin:20px;
}

#stl-viewport {
  top: 0;
  position:absolute;
  right:0;
  width: 0%;
  height: 100%;
  min-height:100%;
  overflow: scroll;
  margin: auto;
}

#stl-progress-bar {
  position: fixed;
  top: 50%;
  width: 80%;
}